/* CSS 초기화 및 최적화 */
*,*:before,*:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
	body{width:100%;margin: 0px auto;overflow: hidden;}
	div, span{margin: 0!important;}
	
/* 채팅창 디자인 설정 */
	/* 채팅 영역 전체 */
	div[class*=chat_outer]{border: 1px solid;border-color: #b7c3c3 #5b7373 #5b7373 #b7c3c3;background-color: #839797;margin-bottom: 7px!important;}
		div[class*=chat_outer]:last-child{margin-bottom:0!important;}
		
		/* 채팅 박스 공통 설정 */
		div[class*="chat_upper"], div[class*="chat_lower"] {font-family: Dotum;font-size: 9pt!important;}
		
			/* 채팅 박스 상단 설정 */
			div[class*="chat_upper"]{color: #fff;padding: 0px;}
				div[class*="chat_upper"] div[class*="chat_nick"], div[class*="chat_upper"] div[class*="chat_badge"]{display: inline-block;}
				div[class*="chat_upper"] div[class*="chat_badge"] {position: absolute;left: 0;z-index: 9999;}
					div[class*="chat_upper"] div[class*="chat_badge"] img{height: 14px;}
					div[class*="chat_upper"] div[class*="chat_badge"] img:last-child{margin-right:5px;}
				div[class*="chat_upper"] div[class*="chat_nick"]{text-align: center;background: #2f4343;border: 0;/* position: absolute; */width: 100%;text-transform: capitalize;vertical-align: middle;float: left;}

			/* 채팅 박스 하단 설정 */
			div[class*="chat_lower"] div[class*="chat_msg"]{display: inline-table;width: 100%;color: black;/* text-shadow: 0px 0px 4px #000000, 0px 0px 2px #000000, -1px -1px 0 #404040, /* stroke test */ 1px -1px 0 #404040, -1px 1px 0 #404040, 1px 1px 0 #404040 */white-space: pre-line;word-break: break-word;padding: 4px;line-height: 1.3;}